<div id="form-main" class="jumbotron">
    <div class="container col-sm-4">
      <h1>Login-form</h1>
      <form class="form-horizontal" id="mainform" method="post" action="login">
          <div class="form-group">
              <label for="gebruikersnaam">Gebruikersnaam</label>
              <input type="text" class="form-control" name="usr" id="usr" [(ngModel)]="name" placeholder="Gebruikersnaam">
            </div>
            <div class="form-group">
              <label for="pwd">Wachtwoord:</label>
              <input type="password" class="form-control" name="pwd" id="pwd" [(ngModel)]="password" placeholder="Wachtwoord">
            </div>
            <button type="submit" (click)="postLogin()" id="sbmt" class="btn btn-primary">Inloggen</button>
      </form>
  
      <p><a href="/">Terug naar de hoofdpagina</a></p>
    </div><!-- container -->
  </div><!-- main -->